@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
/* line 8, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF; }

/* line 15, ../scss/style.scss */
body {
  background-color: #5d6260;
  background-image: url("../media/images/background_2.jpg"), linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif; }

/* line 25, ../scss/style.scss */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* line 29, ../scss/style.scss */
.jc-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

/* line 33, ../scss/style.scss */
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 7px 15px 20px; }

/* line 41, ../scss/style.scss */
.title__item {
  font-family: "Marck Script", cursive;
  font-style: italic;
  line-height: 1.1;
  font-size: 4vw;
  font-weight: 600; }

/* line 50, ../scss/style.scss */
.mainMenu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 32px; }
  /* line 54, ../scss/style.scss */
  .mainMenu__item {
    font-family: "Marck Script", cursive;
    font-size: 3vw;
    padding: 15px; }
    /* line 58, ../scss/style.scss */
    .mainMenu__item:hover {
      text-shadow: 2px 2px 3px #FFF;
      background-color: #686868; }
    /* line 62, ../scss/style.scss */
    .mainMenu__item:active {
      background-color: #7a7a7a; }
  /* line 66, ../scss/style.scss */
  .mainMenu__link {
    text-decoration: none; }

/* line 73, ../scss/style.scss */
.mainPhoto__box--item {
  max-width: 100%;
  width: 490px; }

/* line 80, ../scss/style.scss */
.headInfo {
  padding: 15px;
  width: 50%;
  margin: auto; }
  /* line 84, ../scss/style.scss */
  .headInfo__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    text-align: center; }

/* line 91, ../scss/style.scss */
.contacts {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 96, ../scss/style.scss */
  .contacts__item {
    margin: 0 10px; }
  /* line 99, ../scss/style.scss */
  .contacts--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px; }
    /* line 103, ../scss/style.scss */
    .contacts--footer img {
      width: 30px; }

/* line 109, ../scss/style.scss */
.social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0; }
  /* line 112, ../scss/style.scss */
  .social a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }

/* line 118, ../scss/style.scss */
.headingBlock {
  text-align: center;
  font-family: "Marck Script", cursive;
  font-size: 40px; }

/* line 124, ../scss/style.scss */
.skills {
  width: 1034px;
  background: rgba(62, 60, 60, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 14px 27px; }
  /* line 130, ../scss/style.scss */
  .skills__boxing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 134, ../scss/style.scss */
  .skills__box {
    background: rgba(20, 20, 20, 0.6);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 20px;
    width: 180px;
    padding: 20px;
    margin: 5px;
    text-align: center; }
    /* line 142, ../scss/style.scss */
    .skills__box--descr {
      padding: 5px;
      text-align: center; }
    /* line 146, ../scss/style.scss */
    .skills__box--img {
      width: 40px;
      height: 40px; }

/* line 153, ../scss/style.scss */
.copyright {
  padding: 25px 0 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px; }

/*552px бургер меню*/

/*# sourceMappingURL=style.css.map */