@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$background-color: #5d6260;
$main-font: 'Marck Script', cursive;
$text-font: 'Roboto Condensed', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

body {
    background-color: $background-color;
    background-image: url("../media/images/background_2.jpg"), linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: $text-font;
}

// header{
//     height: 100vh;
// }

.d-flex{
    display: flex;
}

.jc-space-around{
    justify-content: space-around;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 15px auto;
    padding: 7px 15px 20px;
    align-items: center;
}

.title{
    margin: auto;
    &__item{
      font-family: $main-font;
      font-style: italic;
      line-height: 1.1;
      font-size: 3.5vw;
      font-weight: 600;
    }
}

.mainMenu{
    align-items: center;
    list-style: none;
    margin-top: 32px;
    &__item{
        font-family: $main-font;
        font-size: 3vw;
        padding: 15px;
        &:hover{
            text-shadow: 2px 2px 3px #FFF;
            // background-color: #686868;
        }
        &:active{
            // background-color: #7a7a7a;
            opacity: 0.3;
        }
    }
    &__link{
        text-decoration: none;
    }
}

.mainPhoto{
    max-width: 640px;
    &__box{
        &--item{
            border-style: none;
            border-radius: 50%;
            width: 100%;
            max-height: 450px;
        }
    }
}

.headInfo{
    padding: 15px;
    max-width: 640px;
    width: 50%;
    margin: auto;
    &__text{
        font-family: $text-font;
        font-size: 28px;
        text-align: center;
    }
}

.contacts{
    padding: 10px;
    justify-content: center;
    font-size: 30px;
    align-items: center ;
    &__item{
        margin: 0 10px;
    }
    &--footer{
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        & img{
            width: 30px;
        }
    }
}

.social{
    justify-content: center;
    padding: 10px 0;
    & a{
        align-items: center;
        text-decoration: none;
        &:hover{
            opacity: 0.5;
        }
        &:active{
            opacity: 0.2;
        }
    }
}

.headingBlock{
    text-align: center;
    font-family: $main-font;
    font-size: 40px;
}

.skills{
    max-width: 1034px;
    background: rgba(62, 60, 60, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding: 14px 27px 27px;
    &__boxing{
        flex-wrap: wrap;
        justify-content: center;
    }
    &__box{
        background: rgba(20, 20, 20, 0.6);
        backdrop-filter: blur(15px);
        border-radius: 20px;
        width: 180px;
        padding: 20px;
        margin: 5px;
        text-align: center;
        &--descr{
            padding: 5px;
            text-align: center;
        }
        &--img{
            width: 40px;
            height: 40px;
        }
    }
}

.features{
    display: flex;
    justify-content: space-around;
    background-color: #4c4c4c;
    padding: 35px 10px 45px;
    width: 1230px;
}

.featuresBox{
    position: relative;
    text-align: center;
    width: 280px;
    background-color: #666666;
    padding: 10px;
    &__img{
        width: 50px;
        height: 50px;
    }
    &__heading{
        font-size: 35px;
        padding: 10px 5px;
    }
    &__descr{
        font-size: 15px;
        padding: 10px 5px;
        margin-bottom: 30px;
    }
    &__btn{
        display: block;
        width: 100px;
        height: 40px;
        text-decoration: none;
        padding: 10px;
        background-color: #131313;
        position: absolute;
        bottom: -20px;
        left: 90px;
    }
}

.todo{
    width: 100%;
    padding: 10px;
    &__item{
        display: flex;
        justify-content: space-around;
    }
}

.addEvent{
    display: flex;
    justify-content: space-around;
    &__text{
        width: 500px;
        height: 60px;
        color: #000000;
        padding: 0 10px;
    }
    &__btn{
        width: 200px;
        margin-left: 50px;
        color: #000000;
        font-size: 24px;
        background-color: #08c;
        border: none;
        &:hover{
            background-color: #080;
        }
    }
}

.list{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    &__todo{
        margin: 0 20px;
    }
    &__done{
        margin: 0 20px;
        position: relative;
    }
}

.formToDolist{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 15px 5px;
    &__text{
        width: 400px;
        margin-right: 50px;
        position: relative;
    }
    &__checkbox{
        width: 25px;
        height: 25px;
        position: absolute;
        top: calc(50% - 10px);
        right: -5px;
    }
    &__imgDel{
        width: 25px;
        height: 25px;
        position: absolute;
        top: calc(50% - 15px);
        right: 15px;
    }
}

.skillsSlider .slick-slide img{
    display: inline-block;
}

.slick{
    &-slide{
        height: 130px;
    }
    &-arrow{
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% - 10px);
        z-index: 10;
        font-size: 0;
        outline: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border: none;
        &:hover{
            opacity: 0.3;
            transition: all .5s ease-out;
        }
        &::after{
            content: "";
            display: block;
            width: 13px;
            height: 13px;
            border: 3px solid #fff;
            position: absolute;
            top: 7px;
            transform: rotate(45deg);
        }
    }
    &-prev{
        left: 8px;
        &::after{
            border-top: 0;
            border-right: 0;
            left: 9px;
        }
    }
    &-next{
        right: 7px;
        &::after{
            border-bottom: 0;
            border-left: 0;
            left: 5px;
        }
    }
    &-dots{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -14%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        z-index: 10;
        & li{
            margin: 0 4px;
            padding: 4px;

        }
        & button{
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 50%;
            outline: none;
            border: 0;
            font-size: 0;
            cursor: pointer;
        }
    }
    &-active{
        & button{
            width: 14px;
            height: 14px;
        }
    }
}



.copyright{
    padding: 25px 0 10px 0;
    justify-content: center;
    font-size: 16px;
}
/*552px бургер меню*/

.messenger_owner{
    display: none !important;
}